body {
    font-family: "Times New Roman", Times, Arial, Helvetica, serif;
}

h1 {
    text-align: center;
    color: #575730;
}

li {
    margin: 10px auto;
    border: 1px solid black;
    padding: 2px 2px;
}

a {
    background-color: rgb(217, 217, 230);
    padding: 0px 300px 0px 0px;
    display: block;
}